* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

body {
  padding: 2rem;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, #ebcffe, #c497ff);
  display: flex;
  flex-direction: column;
}

.header-img {
  display: flex;
  width: 100%;
  max-width: 600px;
  margin-inline: auto;
  filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.2));
}

.container {
  flex: 1;
  position: relative;
  isolation: isolate;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
}

.image-1, .image-2 , .image-3 , .image-4 , .image-5 {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
}

.image-5 {
  width: 350px;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 0px 0px 10px #000000;
  color: #f1ebf5;
  text-align: center;
  margin-top: 7%;
  font-size: 70px;
}
.btn {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: absolute;
  top: calc(100% - 10rem);
  min-width: 120px;
  padding: 0.9rem 2.2rem;
  font-size: 1.2rem;
  outline: none;
  border: none;
  background-color: #c3e1fa;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #e2e8f0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-yes {
  left: 50%;
  transform: translateX(calc(-100% - 1rem));
  z-index: 1;
}

.btn-no {
  left: calc(50% + 1.5rem);
  transition: all 0.5s ease;
  z-index: 2;
}
